:root {
    --primary-color: #176B87;
    --secondary-color: #EEF5FF;
    --accent-color: #FF0000;
    --light-blue: #B4D4FF;
    --medium-blue: #86B6F6;
    --font-primary: 'pf-uniform', sans-serif;
    --font-size-large: 1.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-primary);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--light-blue);
    padding: 5px 0;
}

.logo img {
    max-width: 70px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--accent-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.contact {
    max-width: 960px;
    padding: 0 50px;
    margin-top: 50px;
    margin: auto;
    width: 600px;
    margin-bottom: 20px;
}

.contact-spot {
    align-items: center;
}

.contact h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--medium-blue);
    border-radius: 5px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields .form-group {
    width: 48%;
}

.place-date {
    display: flex;
    justify-content: space-between;
}

.place-date .form-group {
    width: 48%;
}

#newsletter-subscription {
    display: flex;
    align-items: center;
}

#newsletter-subscription label {
    margin-left: 10px;
    margin-right: 10px;
}

#newsletter-subscription input[type="radio"] {
    width: auto;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    width: auto;
}

.form-group-inline {
    display: flex;
    align-items: center;
}

.form-group-inline input[type="checkbox"] {
    margin-right: 10px;
}

.button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--accent-color);
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding-bottom: 20px;
    margin-top: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .header-container, .footer-container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .contact {
        width: 90%;
        padding: 0 20px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 0.9em;
    }

    .name-fields,
    .place-date {
        flex-direction: column;
    }

    .name-fields .form-group,
    .place-date .form-group {
        width: 100%;
    }

    .button {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .contact {
        width: 100%;
        padding: 0 10px;
    }

    .contact h2 {
        font-size: 1.5em;
    }

    .form-group label {
        font-size: 0.9em;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        padding: 8px;
        font-size: 0.85em;
    }

    .button {
        font-size: 0.85em;
        padding: 10px;
        margin-top: 20px;
    }
}
